/* RESET DEFAULT */

:root {
  --default-background: #1e0686;
  --background-color:#0733c5;
  --wrapper-background-linear:linear-gradient(90deg, var(--background-color) 44%, rgba(255,255,255,0) 60%), url('../images/fachada.jpeg') no-repeat center right ;
  --wrapper-background-linear-mobile:linear-gradient(360deg, var(--background-color) 40%, rgba(255,255,255,0) 60%), url('../images/fachada.jpeg') no-repeat center center ;
  --wrapper-background-linear-tablet:linear-gradient(360deg, var(--background-color) 40%, rgba(255,255,255,0) 49%), url('../images/fachada.jpeg') no-repeat center center ;
  --wrapper-text-box-color:#363940;
  --main-text-color:#212529;
  --white:#fff;
}

body {  background:var(--white); font-family: 'Montserrat', sans-serif; font-weight: 400; }
ul { list-style: none;}
a { text-decoration: none;}
p { margin-bottom:0px; }

/* ------------------------------------------------------------ *\
    HEADER
\* ------------------------------------------------------------ */
.rnk-oticas-header { background:var(--default-background); color:var(--white); }
.rnk-oticas-header nav { display:flex; align-items: center; height:108px }
.rnk-oticas-header-links { display:flex; flex:1; margin-bottom:0px; padding:0;}
.rnk-oticas-header-links li { margin-right:1.875rem; }
.rnk-oticas-header-links li a{ font-size:1.125rem; line-height:1.875rem; font-weight:700; color:var(--white); text-transform: uppercase; }

.navbar-toggler.collapsed{ top:2.5rem; left:1rem; position:absolute; z-index:99;}
.navbar-toggler { top:2.5rem; left:1rem; position:absolute; z-index:99;}

.navbar-toggler-icon { width:20px; height:3px; background:var(--white); display:block; position:relative; }
.navbar-toggler-icon + span { margin-top:5px;}

/* button:focus-visible .navbar-toggler-icon:last-child {display:none; }
button:focus-visible .navbar-toggler-icon:first-child {transform:rotate(-45deg); top:8px  }
button:focus-visible .navbar-toggler-icon:nth-child(2) {transform:rotate(45deg); } */


.rnk-oticas-header-logo { position:relative; top:0px; text-align:center; flex:1;}

.rnk-oticas-header-logo img {
  max-width: 100px; 
  height: auto; 
}


.rnk-oticas-header-solicitar-orcamento { display:flex; justify-content: flex-end; flex:1;  }
.rnk-oticas-header-solicitar-orcamento a { display:flex; justify-content: center; align-items:center; background:#04B5F9; letter-spacing:0.8px; border-radius:4px; font-weight: 700; text-transform:uppercase; font-size: 0.875rem; line-height:  1.25rem; color:white; width:200px; padding:.8rem; transition:filter 0.2s; margin-right: 6px;}
.rnk-oticas-header-solicitar-orcamento a:last-child {background:#28A745; color: #fff;}
.rnk-oticas-header-solicitar-orcamento a img { margin-right:22px; }
.rnk-oticas-header-solicitar-orcamento a:hover { filter:brightness(0.8); }

@media(max-width:1400px){
  .rnk-oticas-header-links li { margin-right:1.4rem}
  .rnk-oticas-header-links li a { font-size:1rem;}
  .rnk-oticas-header-solicitar-orcamento a {width: 170px; font-size: 10px;}
}
@media(max-width:1200px){
  .rnk-oticas-header-links { flex:initial; }
  .rnk-oticas-header-links.d-lg-flex { display: flex;justify-content: center;align-items: center;margin-top: 15px;margin-right: -50px; } 
  .rnk-oticas-header-solicitar-orcamento { margin-top:15px;}
}

@media(max-width:992px) {
  .rnk-oticas-header-links { display:block; z-index:99; margin-top:50px}
  .rnk-oticas-header-links li { margin-right:0px; text-align:center; }
  .rnk-oticas-header-solicitar-orcamento {display: block;}
  .rnk-oticas-header-solicitar-orcamento a { margin:10px auto; width: auto; font-size: 14px;}
} 


/* ------------------------------------------------------------ *\
   HEADER HERO WRAPPER
\* ------------------------------------------------------------ */
.rnk-oticas-header-hero-wrapper { background:var(--wrapper-background-linear) ; min-height:490px; margin-top:108px; display:flex; align-items: center;}
.rnk-oticas-header-hero-wrapper h1 { font-size:12px; line-height:12px; font-weight: 700; text-transform:uppercase; color:white; max-width: 400px; width:100%;}
.rnk-oticas-header-hero-wrapper h2 { font-size:2.25rem; line-height:2.6875rem; font-weight: 700; text-transform:uppercase; color:white; max-width: 400px; width:100%;}
.rnk-oticas-page-filial .rnk-oticas-header-hero-wrapper h1{ max-width: 520px; }
.rnk-oticas-page-filial .rnk-oticas-header-hero-wrapper h2{ max-width: 520px; }
.rnk-oticas-header-hero-wrapper p { font-size:1.25rem; line-height:1.5rem; font-weight:500; color:white; max-width: 580px; margin-top:15px; }
.rnk-oticas-header-hero-wrapper small {font-size: .8rem; color: #fff; font-weight: 500; display: block;}

.rnk-oticas-header-hero-wrapper-links { display:flex; margin-top:50px;  }
.rnk-oticas-header-hero-wrapper-links a { display:flex; letter-spacing:0.8px; align-items:center; justify-content: center;  width:266px; height:46px; padding:.8rem; border-radius:4px; text-transform:uppercase; font-size:0.875rem;line-height:1.25rem; font-weight: bold; transition:filter 0.2s}
.rnk-oticas-header-hero-wrapper-links a:hover { filter:brightness(0.9)}
.rnk-oticas-header-hero-wrapper-links a + a { margin-left:30px;}

.rnk-oticas-header-hero-wrapper-links a:first-child { background:#04B5F9; color:white;  }
.rnk-oticas-header-hero-wrapper-links a:last-child { background:var(--white); color:var(--background-color);  }

.rnk-oticas-header-hero-wrapper-box ul { display:flex; text-align: center; justify-content: center; position:relative; margin-top:-60px;}
.rnk-oticas-header-hero-wrapper-box ul li h3 { font-size:1.25rem; line-height:1.5rem; font-weight:600; text-transform: uppercase; line-height: 1; max-width:260px; width:100%; margin:20px auto;}
.rnk-oticas-header-hero-wrapper-box ul li h4 { font-size:1.125rem; line-height: 1.125rem; font-weight: 400; max-width:280px; width:100%; margin:0 auto;}

.rnk-oticas-header-hero-wrapper-box ul li p { font-size:0.875rem; line-height:1.125rem; max-width:220px; width:100%; margin:0 auto;}

@media (max-width:1200px){
  .rnk-oticas-header-hero-wrapper-links a { text-align:center; font-size:0.8rem; }
}
@media(max-width:992px){
  .rnk-oticas-header-hero-wrapper { background:var(--wrapper-background-linear-tablet);  background-size:contain; margin-top: 0;  padding-top:0px; padding-bottom:820px; margin-bottom:110px;}
  .rnk-oticas-header-hero-wrapper > div.container { margin-top:0px;}
  .rnk-oticas-header-hero-wrapper h1 { margin:0 auto; text-align:center;color:white;}
  .rnk-oticas-header-hero-wrapper h2 { margin:0 auto; text-align:center;color:white;}
  .rnk-oticas-header-hero-wrapper p { margin:15px auto; text-align:center;color: white;}
  .rnk-oticas-header-hero-wrapper small {text-align: center;}

  .rnk-oticas-header-hero-wrapper-links a { justify-content: center; margin: 0px auto; }
  .rnk-oticas-header-hero-wrapper-links a + a { margin-left:10px;}

  .rnk-oticas-header-hero-wrapper > div.container { position:absolute; left:50%; transform:translateX(-50%); top:500px;}

}
@media(max-width:768px){

  .rnk-oticas-header-hero-wrapper-links a + a { margin-left:30px;}

  .rnk-oticas-header-hero-wrapper-box ul li + li + li { margin-top:50px; }
}



.rnk-oticas-header-hero-wrapper-social { display: flex; position:fixed; right:1.5rem; z-index:80}
.rnk-oticas-header-hero-wrapper-social ul li + li { margin-top:13px;}

.rnk-oticas-header-hero-wrapper-vendas { position:fixed; right:1.5rem; bottom:40px; z-index:80; background:#28A745; border-radius:30px; width:152px;  height:60px; display:flex; align-items: center; text-align: center}
.rnk-oticas-header-hero-wrapper-vendas a { display:flex; margin:0 auto; transition:filter 0.2s; }
.rnk-oticas-header-hero-wrapper-vendas a:hover { filter:brightness(0.9)}

.rnk-oticas-header-hero-wrapper-vendas a span { font-size: 1rem; line-height:1.125rem; font-weight:700; max-width:100px; color:white;  }

@media(max-width:992px){
  .rnk-oticas-header-hero-wrapper-social { display:none; }
}
/* ------------------------------------------------------------ *\
    GALERIA DE LANÇAMENTO
\* ------------------------------------------------------------ */
.rnk-oticas-galeria-lancamento {text-align: center; display: flex; flex-direction:column; justify-content: center; margin-top:60px; padding-top:60px; padding-bottom:60px; background:#F0F0F0;} 
.rnk-oticas-galeria-lancamento h2 { font-size:2.25rem; line-height:3.0625rem; text-transform: uppercase; font-weight: 500;}
.rnk-oticas-galeria-lancamento p { font-size:0.875rem; line-height:1.25rem; margin-bottom:30px; text-transform: uppercase; font-weight: 500; }
.rnk-oticas-galeria-lancamento ul li { margin-top:15px; }
.rnk-oticas-galeria-lancamento .btn-instagram { margin:15px auto; background:var(--default-background); display:flex; justify-content: center; align-items:center; width:300px; padding:.8rem; text-decoration:none; color:white; text-transform:uppercase; border-radius:.4rem; transition:filter .2s; font-size: 0.875rem; line-height:1.25rem; font-weight:700;}
.rnk-oticas-galeria-lancamento .btn-instagram img {  margin-right:22px; }
.rnk-oticas-galeria-lancamento .btn-instagram:hover { filter:brightness(0.8); }


@media(max-width:768px){
  .rnk-oticas-galeria-lancamento .btn-instagram { width:100%; }
}


/* ------------------------------------------------------------ *\
    SOBRE AS OTICAS
\* ------------------------------------------------------------ */
.rnk-oticas-historia { text-align: center;  display: flex; flex-direction:column; justify-content: center;  padding-top:60px; padding-bottom:60px;}
.rnk-oticas-historia h2 { font-size:2.25rem; line-height:3.0625rem; text-transform: uppercase; font-weight: 500;}
.rnk-oticas-historia p { font-size:1.5rem; line-height:1.75rem; font-weight: 300; margin-top:30px; }
.rnk-oticas-historia ul {height:460px; margin-top:60px; }
.rnk-oticas-historia ul li { margin-top:15px; }
.rnk-oticas-historia ul li:nth-child(even) { display: flex;align-items: flex-end;justify-content: center;}

@media(max-width:992px){
  .rnk-oticas-historia ul { height: auto; }
}

/* ------------------------------------------------------------ *\
    INFORMACOES PARA PEDIDOS
\* ------------------------------------------------------------ */

.rnk-oticas-pedidos { text-align: center; padding-top:30px; }
.rnk-oticas-pedidos h3 { font-size:1.5rem; line-height: 1.6875rem; font-weight: 600; max-width: 780px; margin:0 auto;}
.rnk-oticas-pedidos ul { display:flex; flex-wrap:wrap; justify-content: center; margin-top:20px;}
.rnk-oticas-pedidos ul li { display:flex; margin-bottom:20px; }
.rnk-oticas-pedidos ul li:first-child{ justify-content: flex-end; }
.rnk-oticas-pedidos ul li:nth-child(3){ justify-content: flex-end; }
.rnk-oticas-pedidos ul li:nth-child(4){ justify-content: center; }

.rnk-oticas-pedidos ul li p { margin-left:12px;  font-size:1.25rem; line-height:1.875rem; font-weight: 400; }
.rnk-oticas-pedidos ul li img { width:25px; height:25px; max-width:100%;  }

@media(max-width:1200px){
.rnk-oticas-pedidos ul li p { font-size:1rem; }
}
@media(max-width:992px){
  .rnk-oticas-pedidos ul { padding-left:0px;} 
  .rnk-oticas-pedidos ul li { justify-content: center; text-align: left; } 
  .rnk-oticas-pedidos ul li:first-child, 
  .rnk-oticas-pedidos ul li:nth-child(3),
  .rnk-oticas-pedidos ul li:nth-child(4){ justify-content: center; }
  .rnk-oticas-pedidos h3 { text-align: center;}
}
@media(max-width:576px){
  .rnk-oticas-pedidos ul { padding-left:0px;} 
  .rnk-oticas-pedidos ul li { justify-content: flex-start; text-align: left; } 
  .rnk-oticas-pedidos ul li:first-child, 
  .rnk-oticas-pedidos ul li:nth-child(3),
  .rnk-oticas-pedidos ul li:nth-child(4){ justify-content: flex-start; }
  .rnk-oticas-pedidos h3 { text-align: center;}
}

/* ------------------------------------------------------------ *\
    OUTROS ASSUNTOS
\* ------------------------------------------------------------ */

.rnk-oticas-pedidos-informacoes { display:flex; justify-content: center; text-align: center; }
.rnk-oticas-pedidos-informacoes h4 { font-size:1.5rem; line-height:1.875rem;  }
.rnk-oticas-pedidos-informacoes h4:nth-child(2) { width:310px !important;  }
.rnk-oticas-pedidos-informacoes #router-maps,#router-waze{ display:flex; height:45px; width:110px; justify-content: center; align-items: center;}
.rnk-oticas-pedidos-informacoes #router-maps { background:var(--wrapper-text-box-color); border-radius:4px; font-size:0.75rem;line-height:1.25rem; font-weight: 700; text-transform:uppercase; color:white;}
.rnk-oticas-pedidos-informacoes #router-maps img { margin-right:12px; }
.rnk-oticas-pedidos-informacoes #router-waze { margin-left:20px;  background:#BBDEFB; border-radius:4px; font-size:0.75rem;line-height:1.25rem; font-weight: 700; text-transform:uppercase; color:var(--wrapper-text-box-color);}
.rnk-oticas-pedidos-informacoes #router-waze img { margin-right:12px; }
.rnk-oticas-pedidos-informacoes #router-whatsapp { width:100%; background:#28A745; height:45px; border-radius:4px; display:flex; justify-content: center; align-items: center; color:white; font-weight: 700; font-size:0.875rem; line-height:1.25rem; text-transform:uppercase; }
.rnk-oticas-pedidos-informacoes #router-whatsapp img { margin-right:12px;  }

@media(max-width:992px){
  .rnk-oticas-pedidos-informacoes #router-whatsapp { width:60%; margin:0 auto;}
}
@media(max-width:576px){
  .rnk-oticas-pedidos-informacoes #router-whatsapp { width:80%; margin:0 auto;}
}

/* ------------------------------------------------------------ *\
    NOSSOS DIFERENCIAIS
\* ------------------------------------------------------------ */
.rnk-oticas-nossos-diferenciais{ display:flex; flex-direction:column; justify-content: space-between;  margin-top:100px; padding:0; background:#F0F0F0; padding-top:60px; padding-bottom:60px; ; }
.rnk-oticas-nossos-diferenciais h2 { font-size:2.25rem; line-height:3.0625rem; text-transform: uppercase; font-weight: 500; text-align: center; margin-bottom:30px;}
  .rnk-oticas-nossos-diferenciais h3 { font-size:1.125rem; line-height:1.5rem; font-weight:500; text-transform: uppercase; text-align: center; margin-left:18px;}
  .rnk-oticas-nossos-diferenciais ul { margin-top:14px; }
  .rnk-oticas-nossos-diferenciais ul li p{ font-size:1.0625rem; line-height:1.5rem; font-weight: 300; letter-spacing:-0.38px; margin-top:15px; }
    .rnk-oticas-atendimento-especial-header, 
    .rnk-oticas-anos-de-mercado-header,
    .rnk-oticas-qualidade-do-material-header { display:flex; align-items:center;  }

@media(max-width:992px){
  .rnk-oticas-nossos-diferenciais ul li + li { margin-top:30px; }
  .rnk-oticas-nossos-diferenciais ul li p { text-align: center;}
  .rnk-oticas-atendimento-especial-header, 
  .rnk-oticas-anos-de-mercado-header,
  .rnk-oticas-qualidade-do-material-header { justify-content: center;  }
}
@media(max-width:768px){
  .rnk-oticas-atendimento-especial-header, .rnk-oticas-anos-de-mercado-header, .rnk-oticas-qualidade-do-material-header { display: block; text-align: center;}
  .rnk-oticas-nossos-diferenciais h3 { margin-top:10px;}
}

/* ------------------------------------------------------------ *\
    LABORATORIO DIGITAL
\* ------------------------------------------------------------ */
.rnk-oticas-nossos-diferenciais-laboratorio { background:linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%), url('../images/laboratorio.jpeg') no-repeat center left ; height:479px; display:flex; align-items:center; justify-content: center; margin-top:30px; }
.rnk-oticas-nossos-diferenciais-laboratorio h2 { font-size:2.25rem; line-height:2.375rem; font-weight:500; text-align:left; text-transform: capitalize; margin-bottom:10px; max-width:270px;}
.rnk-oticas-nossos-diferenciais-laboratorio p { font-size:1.5rem; line-height:1.75rem; font-weight: 300; margin-top:0px; max-width:460px; }

@media(max-width:992px){
  .rnk-oticas-nossos-diferenciais-laboratorio h2, .rnk-oticas-nossos-diferenciais-laboratorio p { text-align: center; max-width:100%;  }
}

/* ------------------------------------------------------------ *\
    NOSSOS PARCEIROS
\* ------------------------------------------------------------ */
.rnk-oticas-nossos-parceiros { padding-top:60px; padding-bottom:20px;}
.rnk-oticas-nossos-parceiros ul { display:grid; grid-template-columns:repeat(7,1fr); padding-right:15px; padding-left:15px; grid-gap:20px; align-items: flex-end;  }
.rnk-oticas-nossos-parceiros ul li { display:flex; justify-content: center; width:149px; height:149px; }

  .rnk-oticas-nossos-parceiros-kodak { background:url('../images/nossos-parceiros-kodak-black.png') no-repeat center center; width:149px; height:149px; transition:background 0.2s}
  .rnk-oticas-nossos-parceiros-kodak:hover {background:url('../images/nossos-parceiros-kodak-color.png') no-repeat center center; }

  .rnk-oticas-nossos-parceiros-hoya { background:url('../images/nossos-parceiros-hoya-black.png') no-repeat center center; width:149px; height:149px; transition:background 0.2s }
  .rnk-oticas-nossos-parceiros-hoya:hover { background:url('../images/nossos-parceiros-hoya-color.png') no-repeat center center; }
  
  .rnk-oticas-nossos-parceiros-transitions { background:url('../images/nossos-parceiros-transitions-black.png') no-repeat center center; width:149px; height:149px; transition:background 0.2s }
  .rnk-oticas-nossos-parceiros-transitions:hover { background:url('../images/nossos-parceiros-transitions-color.png') no-repeat center center;}
  
  .rnk-oticas-nossos-parceiros-crizal {background:url('../images/nossos-parceiros-crizal-black.png') no-repeat center center; width:149px; height:149px; transition:background 0.2s }
  .rnk-oticas-nossos-parceiros-crizal:hover { background:url('../images/nossos-parceiros-crizal-color.png') no-repeat center center; }
  
  .rnk-oticas-nossos-parceiros-varilux { background:url('../images/nossos-parceiros-varilux-black.png') no-repeat center center; width:149px; height:149px; transition:background 0.2s }
  .rnk-oticas-nossos-parceiros-varilux:hover { background:url('../images/nossos-parceiros-varilux-color.png') no-repeat center center; }
  
  .rnk-oticas-nossos-parceiros-zeiss { background:url('../images/nossos-parceiros-zeiss-black.png') no-repeat center center; width:149px; height:149px; transition:background 0.2s }
  .rnk-oticas-nossos-parceiros-zeiss:hover{ background:url('../images/nossos-parceiros-zeiss-color.png') no-repeat center center; }
  
  .rnk-oticas-nossos-parceiros-johnson { background:url('../images/nossos-parceiros-johnson-black.png') no-repeat center center; width:149px; height:149px; transition:background 0.2s }
  .rnk-oticas-nossos-parceiros-johnson:hover { background:url('../images/nossos-parceiros-johnson-color.png') no-repeat center center; }


@media(max-width:1200px){
  .rnk-oticas-nossos-parceiros ul { grid-template-columns:repeat(5,1fr);  }
  .rnk-oticas-nossos-parceiros ul li { margin:0 auto; }
}
@media(max-width:992px){
  .rnk-oticas-nossos-parceiros ul { grid-template-columns:repeat(4,1fr);  }
}
@media(max-width:768px){
  .rnk-oticas-nossos-parceiros ul { grid-template-columns:repeat(3,1fr); justify-content: center; }
}
@media(max-width:576px){
  .rnk-oticas-nossos-parceiros ul { grid-template-columns:repeat(2,1fr);  }
  .rnk-oticas-nossos-parceiros ul { grid-gap:5px;}
}

/* ------------------------------------------------------------ *\
    NOSSAS LOJAS
\* ------------------------------------------------------------ */
.rnk-oticas-nossas-lojas { background:var(--background-color); padding-top: 60px; padding-bottom:60px}
.rnk-oticas-nossas-lojas h2 { font-size:1.625rem; line-height:2.375rem; text-align: center; text-transform:uppercase; color:var(--white); }
.rnk-oticas-nossas-lojas ul { justify-content:center;  }
.rnk-oticas-nossas-lojas ul li { background:var(--white); border-radius:.9rem; width:360px; min-height:226px;  margin-right:20px; margin-top:30px; padding:30px;}
.rnk-oticas-nossas-lojas ul li .rnk-oticas-nossas-lojas-box-header { display:flex; justify-content:center; align-items: center; margin-bottom:28px; }
.rnk-oticas-nossas-lojas-box-header-informacoes { margin-left:20px;  }
.rnk-oticas-nossas-lojas-box-header-informacoes h3 { font-size:1.5rem; line-height:1.75rem; font-weight: 600; margin-bottom:6px; }
.rnk-oticas-nossas-lojas-box-header-informacoes p { font-size:0.9375rem; line-height:1.25rem; font-weight: 400; margin-left:20px; margin:0; }
.rnk-oticas-nossas-lojas-box-header-informacoes p > span { font-size: 0.875rem;}
.rnk-oticas-nossas-lojas-box-footer {  position:relative; padding-top:15px; padding-bottom:40px; }
.rnk-oticas-nossas-lojas-box-footer a { display:flex; justify-content:center; font-weight:bold; align-items:center;  position: absolute; width:100%; padding:.6rem; border-radius:.4rem; background:var(--default-background); color:var(--white); text-transform:uppercase; transition:filter .2s; }
.rnk-oticas-nossas-lojas-box-footer a:hover { filter:brightness(0.8); }

@media(max-width:1200px){
  .rnk-oticas-nossas-lojas ul { justify-content: center;}
  .rnk-oticas-nossas-lojas ul li { width:370px; margin-left:10px; }
}
@media(max-width:576px){
  .rnk-oticas-nossas-lojas ul li { width:100%; margin-left:0px; margin:30px auto; margin-bottom:30px; }
  .rnk-oticas-nossas-lojas ul li .rnk-oticas-nossas-lojas-box-header { margin-bottom:15px;}

}

/* ------------------------------------------------------------ *\
    FOOTER
\* ------------------------------------------------------------ */
.rnk-oticas-footer { background:var(--default-background); padding-top:40px; padding-bottom:40px; color:var(--white);}
.rnk-oticas-footer-left { display:flex; justify-content:center; align-items:center;  }
.rnk-oticas-footer-left > img { padding-bottom:20px;}
ul.rnk-oticas-footer-social { display:flex; align-items:center; margin:0;}
ul.rnk-oticas-footer-social li { border-radius:50px; width:20px; height:20px; background:#1f88eb; display:flex; justify-content: center; align-items: center; padding:20px;  }
ul.rnk-oticas-footer-social li + li { margin-left:10px; }
ul.rnk-oticas-footer-social li a { color:var(--white);  }
.rnk-oticas-footer-right { display:flex; align-items:center; }
.rnk-oticas-footer-right p { font-size:0.8125rem; line-height:1.1875rem; font-weight: 700;}

@media(max-width: 992px){
  .rnk-oticas-footer-left { flex-direction: column;}
  .rnk-oticas-footer-right p { margin-top:20px;  text-align: center;}
  .rnk-oticas-footer-social { padding-left:0px; margin-top:20px; }
  .rnk-oticas-footer-left > img { padding-bottom:20px;}

}

/* ------------------------------------------------------------ *\
    PÁGINA FILIAL
\* ------------------------------------------------------------ */

.rnk-oticas-filial-sobre { margin-top:60px; padding-top:60px; padding-bottom:60px; background:#F0F0F0;  }
.rnk-oticas-filial-conteudo { padding-left:30px; padding-top:20px; padding-bottom:20px; }
.rnk-oticas-filial-conteudo h2 { font-size:2.25rem; line-height:3.0625rem; font-weight: 500; color:var(--main-text-color);}
.rnk-oticas-filial-conteudo p { font-size:1.25rem; line-height:1.75rem; font-weight: 300; color:var(--main-text-color); }
.rnk-oticas-filial-conteudo ul { display:flex; }
.rnk-oticas-filial-conteudo ul li { display:flex; align-items: left; margin-top:22px; }
.rnk-oticas-filial-conteudo ul li a { display:flex; }
.rnk-oticas-filial-conteudo ul li img { margin-right:12px; }

.rnk-oticas-filial-conteudo ul li:nth-child(6), .rnk-oticas-filial-conteudo ul li:nth-child(7)  { flex-direction:column; } 
.rnk-oticas-filial-conteudo ul li:nth-child(6) h3, .rnk-oticas-filial-conteudo ul li:nth-child(7) h3 { font-size:1.3rem; line-height:1.875rem; font-weight: 600; color:var(--main-text-color);} 

.rnk-oticas-filial-conteudo #router-maps,#router-waze{ display:flex; height:45px; width:100px; justify-content: center; align-items: center;}
.rnk-oticas-filial-conteudo  #router-maps { background:var(--wrapper-text-box-color); border-radius:4px; font-size:0.75rem;line-height:1.25rem; font-weight: 700; text-transform:uppercase; color:white;}
.rnk-oticas-filial-conteudo  #router-maps img { margin-right:12px; }
.rnk-oticas-filial-conteudo  #router-waze { margin-left:10px;  background:#BBDEFB; border-radius:4px; font-size:0.75rem;line-height:1.25rem; font-weight: 700; text-transform:uppercase; color:var(--wrapper-text-box-color);}
.rnk-oticas-filial-conteudo  #router-waze img { margin-right:12px; }
.rnk-oticas-filial-conteudo  #router-whatsapp { width:100%; background:#28A745; height:45px; border-radius:4px; display:flex; justify-content: center; align-items: center; color:white; font-weight: 700; font-size:0.875rem; line-height:1.25rem; text-transform:uppercase; }
.rnk-oticas-filial-conteudo  #router-whatsapp img { margin-right:12px;  }

@media(max-width:1400px){
.rnk-oticas-filial-conteudo ul li { margin-top:22px; }
.rnk-oticas-filial-conteudo p { margin-top:0px; font-size:1rem; }
.rnk-oticas-filial-conteudo ul li:nth-child(6) h3, .rnk-oticas-filial-conteudo ul li:nth-child(7) h3 { font-size:1rem; line-height:1.5rem; font-weight: 600; color:var(--main-text-color);} 
}
@media(max-width:1200px){
  .rnk-oticas-filial-conteudo ul { align-items: center; ;}
  .rnk-oticas-filial-conteudo ul li { margin-top:10px;}
  .rnk-oticas-filial-conteudo ul li p { font-size:0.9rem; }
  .rnk-oticas-filial-conteudo #router-maps img,.rnk-oticas-filial-conteudo #router-waze img { margin-right:5px; }
  .rnk-oticas-filial-conteudo ul li:nth-child(6), .rnk-oticas-filial-conteudo ul li:nth-child(7) {margin-top:20px;} 
}
@media(max-width:992px){
  .rnk-oticas-filial-sobre .rnk-oticas-filial-sobre-loja-imagem { width:100%; height:320px; object-fit: cover;}
  .rnk-oticas-filial-conteudo { padding-left:0px;}
}
@media(max-width:768px){
  .rnk-oticas-filial-sobre .rnk-oticas-filial-sobre-loja-imagem { width:100%; height:320px; object-fit: cover;}
  .rnk-oticas-filial-conteudo #router-maps, .rnk-oticas-filial-conteudo #router-waze { flex:1; }
}

/* ------------------------------------------------------------ *\
    PERGUNTAS FREQUENTES
\* ------------------------------------------------------------ */

.rnk-oticas-filial-perguntas-frequentes { padding-top:30px; padding-bottom:30px; }
.rnk-oticas-filial-perguntas-frequentes h2 { font-size:2.25rem; line-height:2.6875rem; text-align: center; margin-bottom:30px; }
.rnk-oticas-filial-perguntas-frequentes .accordion {background-color: #F0F0F0;color: var(--main-text-color); ; border-radius:7px; margin-top:15px; cursor: pointer;padding: 18px;width: 100%;border: none;text-align: left;outline: none;font-size: 15px;transition: 0.4s; padding-left:30px; position:relative}
.rnk-oticas-filial-perguntas-frequentes .accordion h3 { font-size:1.25rem ; line-height:1.5rem;}
.rnk-oticas-filial-perguntas-frequentes .active{background-color: var(--white); border:1px solid #C3C3C3; }
.rnk-oticas-filial-perguntas-frequentes .panel {display: none;overflow: hidden;}
.rnk-oticas-filial-perguntas-frequentes .panel p {font-size:0.875rem ; line-height:1.375rem;}
.rnk-oticas-filial-perguntas-frequentes button.accordion:after {content: '\002B';color: #777;font-weight: bold;float: right;margin-left: 5px; position:absolute; right:1.5rem; top:25px;}
.rnk-oticas-filial-perguntas-frequentes button.accordion.active:after {content: "\2212"; top:20px }


/* ------------------------------------------------------------ *\
    NOVO HEADER
\* ------------------------------------------------------------ */

@media(max-width:992px){
  /* .rnk-oticas-header nav { display:grid; grid-template-columns: repeat(12, 1fr); }
  .rnk-oticas-header-logo { grid-area:1/8;  width:260px; margin:0 auto;} */
  .rnk-oticas-header-social-network { margin:0; padding:0; justify-content: flex-end; }
  .rnk-oticas-header-social-network li { background:white; font-size:24px; width:38px; height:40px; display:flex; justify-content: center; align-items: center; border-radius:4px; z-index:999;}
  .rnk-oticas-header-social-network li a { color:#0370ff }
  .rnk-oticas-header-social-network li + li {margin-left:5px}
  .rnk-oticas-header-logo { left:25%; transform:translateX(-50%); top:0px; }
}
@media(max-width:576px){
  .rnk-oticas-header-social-network {margin-right:-10px;}
  .rnk-oticas-header-social-network li { width:27px; height:30px; font-size:18px;  }
  .rnk-oticas-header-social-network li a { z-index: 99;  }
  .rnk-oticas-header-social-network li + li {margin-left:3px;  }
  .rnk-oticas-header-logo { left:50%; transform:translateX(-50%); top:0px; }
  .rnk-oticas-header-logo img {width:70px; }
}



/* Nova estrutura */

@media(max-width:992px) {
  .rnk-oticas-header-hero-wrapper > div.row > div.col-lg-6 {background: #0753c5 !important;position: absolute !important;padding: 10px !important;top: 290px !important;height: 340px !important; }
  .rnk-oticas-header-hero-wrapper {background: var(--wrapper-background-linear-tablet);margin-bottom: 260px;background-position: initial; }
  .rnk-oticas-header-hero-wrapper-box {margin-top: -200px;}
}
@media(max-width:576px){
  .rnk-oticas-header-hero-wrapper > div.row  { display:none !important; }
  .rnk-oticas-header-hero-wrapper > div.container { display:flex !important; position:relative; left:0px; transform:translateX(-0%); top:0px; margin-top:100px; padding-top:140px; padding-bottom:80px}
  .rnk-oticas-header-hero-wrapper-box ul { margin-top:-250px; } 
  .rnk-oticas-header-hero-wrapper{margin-top:-190px;min-height: unset;padding-top: 15px;  background:var(--wrapper-background-linear-mobile); background-size:contain;  padding-top:15px; padding-bottom:0px;}
  .rnk-oticas-header-hero-wrapper h1 { margin-top:130px; font-size:12px !important; line-height:12px !important;}
  .rnk-oticas-header-hero-wrapper h2 { margin-top: 10px; font-size:1.5rem !important; line-height:2rem !important;}
  .rnk-oticas-header-hero-wrapper p {font-size:0.875rem !important; line-height:1rem !important; margin: 10px auto;}
  .rnk-oticas-header-hero-wrapper small {font-size: .65rem;}

  .rnk-oticas-header-hero-wrapper-links  { display:block; width:100%; margin-top:30px;}
  .rnk-oticas-header-hero-wrapper-links a { margin:0 auto }
  .rnk-oticas-header-hero-wrapper-links a:last-child { margin:20px auto;}

  .rnk-oticas-header-hero-wrapper-box { margin-top:50px; }
  .rnk-oticas-header-hero-wrapper-box ul { padding-left:0px; }
  .rnk-oticas-header-hero-wrapper-box ul li + li + li { margin-top:50px; }
  .rnk-oticas-header-hero-wrapper-box ul li  { margin-top:80px; }
}

@media(max-width:420px){
  .rnk-oticas-header-hero-wrapper {margin-top: -200px;}
  body.rnk-oticas-page-filial .rnk-oticas-header-hero-wrapper {margin-top: -230px;}
}

@media(max-width:360px){
  .rnk-oticas-header-hero-wrapper > div.container { margin-top:60px; padding-top:170px; padding-bottom:20px; }
}